
	  <h2>Score Keeper</h2>
	  
	  <form >
	    <div  class="form-group">
	      <input type="text" class="form-control" id="player1"  value="{{playerName}}">
	    </div>
	    <div class="form-group">
	      <input type="text" class="form-control" id="player2" value="{{playerName}}">
	    </div>
	    <div class="form-group">
	      <input type="text" class="form-control" id="player3" value="{{playerName}}">
	    </div>
	    <div class="form-group">
	      <input type="text" class="form-control" id="player4" value="{{playerName}}">
	    </div>
	    <button class="button_glow">Create a new game</button>
	  </form>
	